@import "../../../utilities/default_styles";

.contactUsSection{
  @include section_style;
  flex-direction: column;


  .header{
    font-family: TiltNeon, serif;
    font-size: 3em;
    padding-bottom: 1em;
    color: $secondary;
  }
  .formContainer{
    width: 50vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.75em;
    background-color: $tertiary;
    .contactInput{
      @include input_styling;
      width: 70%;
      border: none;
      border-bottom: $white solid 2px;
    }
    .contactMessage{
      @include input_styling;
      width: 70%;
      height: 30%;
      resize: none;
      border: 2px solid $white;
      border-radius: 0.25em;

    }
    .submitButton{
      @include button_style;
    }
  }
}

@media only screen and (max-width: 1024px){
  .contactUsSection{
    .formContainer{
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }

}