@import "../../utilities/default_styles";

.navbar {
  height: 7vh;
  width: 100vw;
  box-shadow: $primary 0 10px 15px;

  .list {
    vertical-align: middle;
    padding-left: 10vw;
    padding-right: 10vw;
    .elementDesktop {
      display: inline;
      float: right;
    }
    .elementMobile{
      display: none;
      float: right;
    }
    .pageLogo {
      display: inline;
      float: left;
      color: $primary;
      font-family: TiltNeon, serif;
      font-size: 26px;
      font-weight: bold;
      .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 7vh;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    .list {
      padding-left: 0;
      padding-right: 0;
      .elementDesktop {
        display: none;
      }
      .elementMobile{
        display: inline;
        width: 30vw;

      }
      .pageLogo {
        float: none;
        width: 30vw;
        border-bottom: 1px solid;
      }
    }
  }
}
