@import "../utilities/default_styles";

.userPage {
  @include section_style;
  flex-direction: column;
  align-items: center;
  padding: 2rem 5rem;

  .userWrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    .userHeader {
      font-family: Merriweather;
      color: $primary;
      font-size: 26px;
      font-weight: bold;
      text-align: center;
    }

    .actionsHeader {
      font-family: Merriweather;
      color: $black;
      font-size: 22px;
      text-align: center;
    }

    .actionsGrid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1.5rem;
      width: 100%;
      margin-bottom: 2rem;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;

      &.fade-out {
        opacity: 0;
      }

      &.fade-in {
        opacity: 1;
      }
    }

    .pagination {
      display: flex;
      justify-content: center;
      margin-bottom: 2rem;
      margin-top: -2rem;

      .pageButton {
        @include button_style;
        margin: 0 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        cursor: pointer;

        &.active {
          background-color: $primary;
          color: $white;
          border: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .userPage {
    .userWrapper {
      width: 90%;
      padding: 0%;

      .profileButton {
        width: 45%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .userPage {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 7%;

    .userWrapper {
      width: 90%;
      padding: 0%;
    }
  }
}

@media only screen and (max-width: 320px) {
  .userPage {
    .userWrapper {
      width: 100%;
      padding: 0%;

      .profileButton {
        width: 55%;
      }
    }
  }
}
