@font-face {
  font-family: "Merriweather";
  src: url(./assets/font/merriweather/Merriweather-Regular.ttf);
}

@font-face {
  font-family: "Montserrat";
  src: url(./assets/font/montserrat/Montserrat.ttf);
}
@font-face {
  font-family: "TiltNeon";
  src: url(./assets/font/tiltneon/TiltNeon.ttf);
}

@import "./utilities/default_styles";

:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: $black;
  background-color: $white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0px;
  padding: 0px;
}
