@import "src/utilities/_default_styles.scss";
.hamburger{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  transition: all .5s ease-in-out;
  padding-top: 1.25vh;
  width:8vw;
  height:5vh;
  &:hover{
    cursor:pointer;
  }
}
.upper, .lower, .mid{
  background-color: $tertiary;
  width:70%;
  height:10%;
  border-radius:10px;

}
.upper{
  transition: all 0.5s ease-in-out 0.1s;
}
.lower{
  transition: all 0.5s ease-in-out  0.1s;
}
.mid{
  transition: all 0.5s linear;
}

.upper{
  transform:translate(0px,-10px);
}
.lower{
  transform:translate(0px,10px);
}
.hamburger.active .mid{
  transform:scale(0);
  opacity:0;
  box-shadow:0 0 0 0 ;
}
.hamburger.active .upper{
  transform: translateY(5px) rotate(135deg);
}
.hamburger.active .lower{
  transform: translateY(-3px) rotate(-135deg);
}